<br>
<div class="container col-md-7 offset-md-2">
  <h1 class="display-4">Spot Image Game App</h1>
  <hr>
  <div class='container'>
    Spot the "different image" amongst the four images. Example:
  </div>
  <br>
  <div class='container'>
    <div class="row justify-content-md-center">
        <div class="w-100"></div>
      <div class="col"><img class="float-right" src="/assets/images/b.jpg"></div>
      <div class="col"><img src="/assets/images/a.jpg"></div>
      <div class="w-100"><br></div>
      <div class="col"><img class="float-right" src="/assets/images/a.jpg"></div>
      <div class="col"><img src="/assets/images/a.jpg"></div>
    </div>  
    <br>
    <div class="row justify-content-md-center">
      <button class="btn btn-primary btn-lg" [routerLink]="['game']">Start Playing!!</button>
    </div>      
  </div>

</div>
